force-app/main/default/flows/Approve_Demande_Resil-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ApproveDemandeResil</name>
        <label>ApproveDemandeResil</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>D_cision</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>ApproveDemandeResil.entityId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>InwiB2C_SendSMSResilRequest_0</name>
        <label>InwiB2C_SendSMSResilRequest</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>InwiB2C_SendSMSResilRequest</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>requestId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>D_cision</name>
        <label>Décision</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>Approuv_e</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.inwiB2C_Statut_d_approbation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approuvée</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InwiB2C_SendSMSResilRequest_0</targetReference>
            </connector>
            <label>Approuvée</label>
        </rules>
    </decisions>
    <interviewLabel>Approve Demande Resil {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Demande Resil</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ApproveDemandeResil</targetReference>
        </connector>
        <filters>
            <field>InwiB2C_Statut_Resil__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En cours</stringValue>
            </value>
        </filters>
        <filters>
            <field>InwiB2C_Statut_R_tention__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Non Retenu</stringValue>
            </value>
        </filters>
        <filters>
            <field>inwib2c_need_approbation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>InwiB2C_Demande_de_resiliation__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>