force-app/main/default/flows/InwiB2C_AppModifFicheClient-10.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Approuver</name>
        <label>Approuver</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>InwiB2C_ApproveDemandeModifFicheClient</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>ModificationFicheClient</name>
        <label>ModificationFicheClient</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>InwiB2C_VIP_ModifFicheClient</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>updateField</targetReference>
        </connector>
        <inputParameters>
            <name>accountIdList</name>
            <value>
                <elementReference>$Record.InwiB2C_Account__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ModificationFicheClient_0</name>
        <label>ModificationFicheClient</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <actionName>InwiB2C_VIP_ModifFicheClient</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>accountIdList</name>
            <value>
                <elementReference>$Record.InwiB2C_Account__r.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>If</name>
        <label>If</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InwiB2C_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Validé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accepter</targetReference>
            </connector>
            <label>Valider</label>
        </rules>
        <rules>
            <name>rejet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InwiB2C_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refusé</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>refuser</targetReference>
            </connector>
            <label>rejet</label>
        </rules>
        <rules>
            <name>En_attente</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.InwiB2C_Statut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>En attente de validation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approuver</targetReference>
            </connector>
            <label>En attente</label>
        </rules>
    </decisions>
    <interviewLabel>InwiB2C_AppModifFicheClient {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InwiB2C_AppModifFicheClient</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Accepter</name>
        <label>Accepter</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>ModificationFicheClient</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InwiB2C_Account__r.vlocity_cmt__PersonContactId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>$Record.Birthdate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.FirstName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InwiB2C_CIN__c</field>
            <value>
                <elementReference>$Record.InwiB2C_CIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InwiB2C_Type_CIN__c</field>
            <value>
                <elementReference>$Record.InwiB2C_Type_CIN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>$Record.LastName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>refuser</name>
        <label>refuser</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>ModificationFicheClient_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InwiB2C_Account__r.vlocity_cmt__PersonContactId__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateField</name>
        <label>updateField</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.InwiB2C_Account__r.vlocity_cmt__IsPersonAccount__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!$Record.FirstName__c}-{!$Record.LastName__c}</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If</targetReference>
        </connector>
        <filters>
            <field>InwiB2C_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>En attente de validation</stringValue>
            </value>
        </filters>
        <filters>
            <field>InwiB2C_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Validé</stringValue>
            </value>
        </filters>
        <filters>
            <field>InwiB2C_Statut__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Refusé</stringValue>
            </value>
        </filters>
        <filters>
            <field>Check_Update__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>InwiB2C_Demande__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>